.rodape-car{
    color: #27c2a8;
    height: 35px;
}

.btn-detalhes{
    background-color: #27c2a8;
}

.btn-detalhes:hover{
    background-color: #f21667;
    color: #fff
}

.card-text{
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
}
.img-cartao{
    max-height: 150px;
    min-width: 100%;
}